{% load static %}
<!DOCTYPE html>
<html lang="en">

{% load crispy_forms_tags %}

{% include 'inc/main_head.html' %}

<style>
    body {
        background-color: #4B49AC;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .log_in {
        color: white;
    }

    .log_in:hover {
        color: #ffffff;
    }

    .log_in_btn{
        padding: 0.5rem 1.8rem 0.5rem 1.8rem;
        font-size: 1.02rem;
        font-weight: 600;
        margin-top: 1rem;
        color: #ffffff;
    }
</style>



<div class="container-fluid d-flex flex-column justify-content-center align-items-center">

    <h2 style="color: #ffffff;" class="pt-1 pb-1 text-center">
        Password reset complete
    </h2>

    <p style="color: #ffffff; font-size: 1.02rem;" class="pt-1 pb-1 text-center">
        Your password has been set. You may go ahead and log in now. <br>
        <a href="{% url 'index' %}" class="log_in">
            <button type="button" class="log_in_btn btn btn-secondary">
                Log in
            </button>
        </a>
    </p>

</div>